{
  "singleQuote": true,
  "tabWidth": 2,
  "printWidth": 120,
  "arrowParens": "avoid",
  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "^@/recoil/(.*)$",
    "^@/(components|libs|hooks|utils|types|constants|stores)/(.*)$",
    "^@/(pages|styles|routes|assets)/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports"]
}
