* {
    box-sizing: border-box;
}
.bmates-sidebar {    
    border: 1px solid #c9c9c9; 
}

.bmates-sidebar .bmates-track {
    padding: 1rem;
    border-top: 1px solid #c9c9c9;
}

.track {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.track .name {    
    font-weight: 500;
    font-size: 1.125rem;
}
.track .feature {
    display: flex;
    gap: 1rem;
    justify-content: flex-end;
}

@media (max-width: 768px) {
    .track .name {
        display: none;
    }
    .track .feature {
        flex-direction: column;
        justify-content: space-between;
        gap: 0px;
        height: 100%;
    }
}